<div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Livraria FECAF</h1>
        <p class="col-md-8 fs-4">Projeto de Cadastro, Leitura, Edição e Exclusão de livros de uma Livraria. Front-End criado com Angular 15, Back-End criado com Java 8 + Spring Boot e o Banco de Dados H2 em memória. Criado para estudo de caso da faculdade FECAF na materia de Object Oriented Programming.</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-15">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Projeto Back-End e Front-End</h2>
          <p>Back-End criado com Java 8 e Spring Boot + Banco de dados H2.</p> <p>Front-End criado com Angular + Typescript.</p>
          <a class="btn btn-outline-warning" href="(git aqui)" target="_blank">Acesse no Github</a>
        </div>

